* {
  /* min-height: 100vh; */
  background-color: #1b1b1b;
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: #6441a5;

}

button {
  font-size: 2rem;
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 5%;
  border: 2px solid #6441a5;

}

button:hover {
  cursor: pointer;
  opacity: 50%;  
  transition: ease-in-out 0.15s;
  padding: 2.5rem;
  
}